*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: Georgia;
}
.header {
    background-color:#0e365a ;
    color: white;
    padding-left: 10%;
    height: 70px;
}
.footer{
    background-color: #0e365a;
    height: 200px;
    color: white;
}
.footer-para{
    display: flex;
    justify-content: center;
}
.footer-hd{
    padding-top: 30px;
}
.footer-p{
    padding-top: 35px;
    padding-left: 10px;
    font-size: 18px;
}
.footer-inp{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.quiz-body{
    width: 70%;
    height: 80vh;
    background-color: hsl(212, 78%, 91%);
    margin: 20px auto;
    border-radius: 10px;
}
.hero{
    height: 100px;
    background-color: aliceblue;
    border: 2px solid hsl(212, 65%, 84%);
    border-radius: 10px;
    display: flex;
    justify-content: end;
}
.quiz-questions{
    /* border: 2px solid black; */
    width: 80%;
    margin: 20px auto;
}
.question{
    /* border: 2px solid red; */
    text-align: center;
}
.options-li{
    /* border: solid violet; */
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
.options{
    border: 3px solid #0e365a;
    padding: 15px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: aliceblue;
}
.options:hover{
    border: 3px solid #34be8b;
    cursor: pointer;
}
.options:active{
    border: 3px solid red;
    cursor: pointer;
}
.next-btn{
    border: 2px solid black;
    width: 100px;
    height: 50px;
    background: #0e365a;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 0 auto;
}
button{
    border: 2px solid black;
    width: 100px;
    height: 50px;
    background: #0e365a;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #032543;
}
.question-no{
    border: 2px solid black;
}
.score{
    width: 80px;
    background-color: rgb(239, 239, 239);
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 20px;
}
.question-no{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 20px; 
}
